  .login-page-component {
    display: block;
    background-size: cover;
    padding: 80px 0px 100px 0px;
    background-image: url("../../images/background.png");
    background-repeat: repeat;
  }

  .logo-component {
    display: flex;
    justify-content: center;
  }
  .login-form-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 14px 20px 10px rgba(0, 0, 0, 0.14);
  }

  .login-form-component .left-component {
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 400px;
  }

  .login-img{
    position: relative;
    margin: auto;
    border-right: 1px solid;
    border-color: #e6e9ed;
  }

  .login-form {
    width: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px 0px 40px;
    background: #FFFFFF;
    border-radius: 5px;
  }

  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 50%;
    margin-left: 25%;
  }
  
  .ant-form-explain {
    text-align: center;
    margin-top: 5px;
  }
  
  .error-message {
    height: 35px;
    background-color: #e8b3b3;
    color: #7d0200;
    border-radius:5px ;
    line-height: 35px;
    padding-left: 10px;
  }
  
  .success-message {
    height: 35px;
    background-color: #bee8b3;
    color: #1a4a0d;
    border-radius:5px ;
    line-height: 35px;
    padding-left: 10px;
  }
  
  .login-button-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20% 0px 20%;
    text-align: center;
    margin: 0px 0px 60px 0px;
  }
  
  .loginform-component h1, h2, p{
    text-align: center;
  }

  .button-login-facebook {
    line-height: 1.5;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    background-color: #3b5998;
    color: #ffffff;
    border: 1px solid transparent;
    touch-action: manipulation;
    height: 32px;
    width: 93px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  }

  .button-login-google {
    line-height: 1.5;
    position: relative;
    display: inline-block !important;
    white-space: nowrap;
    text-align: center;
    background-color: #e62020 !important;
    color: #ffffff !important;
    border: 1px solid transparent !important;
    touch-action: manipulation;
    height: 32px;
    width: 93px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px !important;
    font-family: Arial, Helvetica, sans-serif;
  }