  .register-page-component {
    display: block;
    background-size: cover;
    padding: 80px 0px 100px 0px;
    background-image: url("../../images/background.png");
    background-repeat: repeat;
  }

  .register-form-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 14px 20px 10px rgba(0, 0, 0, 0.14);
  }

  .register-form-component .left-component {
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 400px;
  }

  .register-img{
    position: relative;
    margin: auto;
    border-right: 1px solid;
    border-color: #e6e9ed;
  }
  
  .register-form {
    width: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px 0px 40px;
    background: #FFFFFF;
    border-radius: 5px;
  }

  .register-form-forgot {
    float: right;
  }
  
  .register-form-button {
    width: 50%;
    margin-left: 25% ;
    margin-bottom: 40px;
  }
  
  .ant-form-explain {
    text-align: center;
    margin-top: 5px;
  }
  
  h1, h2, p{
    text-align: center;
  }