
.rating {
  margin-bottom: 0px;
  height: 27px;

  

  .number-of-review {
    font-size: 14px;
    // @include font(Montserrat, 12px, normal, normal, normal, 1.83, normal);
    color: #241818;
  }
}
