.notification-contract-component {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.notification-contract-component .notify {
  width: 40%;
  text-align: left;
}

.notification-contract-component .notify-teacher {
  width: 20%;
  text-align: left;
}

.notification-contract-component .status {
  font-weight: 800;
  width: 40%;
  text-align: left;
} 

.notification-contract-component .username {
  font-size: 16px;
  font-weight: bold; 
}

.btn-status-component {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.pending-status {
  color: rgb(252, 186, 3);
}

.deline-status {
  color: #cf1322
}

.accept-status {
  color: #237804;
}

.paid-status {
  color: #0625d4;
}

.modal-600 {
  max-width: 600px;
}