.notification-contract-component {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.notification-contract-component .notify {
  width: 40%;
  text-align: left;
}

.notification-contract-component .notify-teacher {
  width: 20%;
  text-align: left;
}

.notification-contract-component .status {
  font-weight: 800;
  width: 20%;
  text-align: left;
} 

.notification-contract-component .username {
  font-size: 16px;
  font-weight: bold; 
}

.status-btn {
  width: 118px;
  margin-left: 10px;
}

.btn-status-component {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.pending-status {
  color: rgb(252, 186, 3);
}

.deline-status {
  color: #cf1322
}

.accept-status {
  color: #237804;
}

.paid-status {
  color: #c41d7f;
}

.complete-status {
  color: #0625d4
}
.modal-600 {
  max-width: 600px;
}