.cart{
    border-top: solid 1px  rgba(0, 0, 0, 0.14);
    padding: 20px 10px;
    margin-top: 2%;

    .avartar{
         width: 12% !important;
    }

    .infor{
         width: 85% !important;
        padding-left: 30px;
        padding-right: 10px;
        // margin-right: 5%;
        .username{
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 20px;
        }

        .rating-ratio{
            margin-top: 5%;
            .line {
                width: 1px;
                height: 18px;
                border: solid 0.5px #979797;
                margin-top: 8px;
                
              }
        }

        
        .subjects{
            margin-top: 10px;
            .subject{
                border-right: solid 1px  rgb(63, 62, 62);
                padding-right: 10px;
                margin-right: 10px;
            }
        }

        .status{
            margin-top: 20px;
            .ratio {
                font-weight: bold;
                color: #000000;
                font-size:  16px;
            }
        }

        .languages{
            margin-bottom: 20px;
            .language{
                padding:5px 15px;
                background: rgb(212, 209, 209);
                color: black;
                margin-right: 10px;
                border-radius: 5px;
            }
        }

        .description{
            margin-bottom: 20px;
            width: 80%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        
       
    }
}