.logo {
  display: block;
}

.logo h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: bold;
  color: #323cc7;
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.logo .bottom {
  margin-left: 80px;
}