.info-contract-teacher {
  margin-top: 20px;
  margin-left: 30px;
}

.info-contract-teacher .item-info-contract-teacher {
  display: flex;
  justify-content: left;
}

.info-contract-teacher .item-info-contract-teacher h5 {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.info-contract-teacher .item-info-contract-teacher h5.title-contract-teacher {
  text-align: left;
  font-weight: bold;
  width: 150px;
  font-size: 16px;
  line-height: 30px;
}

