.active-email-component {
  width: 400px;
  display: flex;
  padding: 0 20px 0 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.active-email-component p {
  float: left;
}