.active-email-component {
  width: 400px;
  display: block;
  padding: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.active-email-component img {
  margin-bottom: 40px ;
  margin: ;
}