.student-info-form {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px 10px 40px;
  background: #FFFFFF;
}

.edit-student-page p, .intro {
  font-size: 16px;
  text-align: left;
  line-height: 35px;
}

.item-info {
  font-size: 16px;
  display: flex;
  
}

h5.info-title {
  font-weight: bold;
  padding-right: 10px;
  width: 170px;
  text-align: left;
  font-size: 16px;
  line-height: 40px;
}

h5.item-content {
  font-size: 16px;
  text-align: left;
  line-height: 40px;
}
.student-info-page h3 {
  font-size: 28px;
  margin-bottom: 5px;
  line-height: 35px;
  margin-bottom: 30px;
}

.contract-history-component {
  display: block;
  padding: 0px 60px 0 60px;
  margin-bottom: 30px;
}

