.home {
    /* display: block; */
    background-size: cover;
    /* padding: 0px 0px 100px 0px; */
    height: 100%;
  }
  
  .err-message {
    height: 35px;
    background-color: #e8b3b3;
    color: #7d0200;
    margin: 10px 0px 10px 30%;
    border-radius:5px ;
    width: 40%;
    line-height: 35px;
    padding-left: 10px;
  }
  
  .login-button-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20% 0px 20%;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  
  h1, h2, p{
    text-align: center;
  }

  .ant-pagination {
    justify-content: center;
    display: flex;
  }