  .info-user-page {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    height: 100%;
  }
  .info-component {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: white
  }

  .info-form {
    display: block;
    background-size: cover;
    padding: 0px 15px 0px 15px;
    background-color: white;
    max-width: 400;
  }

  .info-buttons-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20% 0px 20%;
    text-align: center;
  }

  .avatar-component {
    display: block;
    background-color: white;
    width: 400px;
  }
  
  .avatar {
    margin-top: 30px;
    margin-left: 75px;
  }

  .avatar-button {
    width: 50%;
    margin-left: 25% ;
    margin-top: 30px;
  }

  .ant-form-explain {
    text-align: center;
    margin-top: 5px;
  }
  
  .error-message {
    height: 35px;
    background-color: #e8b3b3;
    color: #7d0200;
    border-radius:5px ;
    line-height: 35px;
    padding-left: 10px;
  }
  
  .success-message {
    height: 35px;
    background-color: #bee8b3;
    color: #1a4a0d;
    border-radius:5px;
    line-height: 35px;
    padding-left: 10px;
  }
  
  .info-user-page h1, h2, p{
    text-align: center;
  }