
.slider{
    height: 280px;
    .posterIMG {
        height: 280px;
        width: 100%;
    }
    .sub-infor{
        position: relative;
        margin-top: -17%;
        margin-left: 9%;
    
        h1 {
            font-weight: bold;
            margin-top: 10px;
            color: white;
            text-align: left;
            
        }

        h5{
            margin-top: 10px;
            color: white;
            text-align: left;
            
        }
       
        .get-started{
            margin-top: 2%;
        }
        
    }




}
   